@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin: 1px;
    padding: 2px;
}
body {
   
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
  }
  
  .group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }
  
  .group:hover .group-hover\:translate-y-2 {
    transform: translateY(-0.5rem);
  }
 
.loader {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9); 
  z-index: 9999;
}
